@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
    margin: 0;
    overflow: hidden; /* prevent page overflow; app manages scroll areas */
  }

  * {
    @apply border-zinc-800;
  }
}

@layer components {
  .text-balance {
    text-wrap: balance;
  }
}
